<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bem-vindo!</title>
  </head>
  <body>
    <h2>Olá {{name}}!</h2>
    <p>Você se inscreveu no curso {{curso}}!</p>
  </body>
</html>